
$basefont: 16; // in pixels

@mixin fontSizeEm($target: $basefont, $context: $basefont) {
    font-size: ($target / $context) + 0em;
    line-height: 1em;
}

@mixin fontSizeLineHeightEm($target: $basefont, $lineheight: $basefont, $context: $basefont) {
    font-size: ($target / $context) + 0em;
    line-height: ($lineheight / $target) + 0em;
}

@font-face {
	font-family:'MontserratRegular';
	src:url('../fonts/montserrat/Montserrat-Regular.otf'),
      url('../fonts/montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'MontserratBold';
	src:url("../fonts/../fonts/montserrat/Montserrat-Bold.otf"),
      url('../fonts/montserrat/Montserrat-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
