.navbar-default {
    border: none;
    background-color: #1f4e77;
    .navbar-collapse {
        border-color: #2698CE;
    }
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-toggle {
    margin-top: 23px;
}
.btn-primary {
    background-color: #3a547d;
    border: none;
}

.btn-default {
    color: #FFF;
    background-color: #4acdca;
    border: none;
}

.form-control {
  background-color: #f2f6f8;
  border: 1px solid #d1dde3;
  color: #28628a;
}

.form-group {
  color: #28628a;
}

.table > thead > tr.active > td {
  background-color: #f2f6f8;
}
