@import "fonts";
@import "override";
body {
    font-family: MontserratRegular, sans-serif;
}
header {
    background-color: #1f4e77;
    .navbar {
        min-height: 80px;
        margin-bottom: 0;
    }
    .navbar-brand {
        padding: 40px 15px;
        img {
            position: absolute;
            top: 17px;
        }
    }
    .navbar-header {
        position: relative;
        text-indent: -999999px;
    }
    @media (min-width: 768px) {
        .navbar-nav > li > a {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
.container {
    text-align: center;
}
.jumbotron {
    height: 940px;
    margin: 0;
    background: url("../images/background-video.jpg") center center fixed no-repeat;
    background-size: cover;
    h1 {
        letter-spacing: 1px;
        color: #FFF;
        font-family: MontserratRegular,sans-serif;
        @include fontSizeLineHeightEm(24,26,11);
    }
}
.search {
    min-height: 80px;
    background-color: #1f4e77;
    .container {
        padding-top: 23px;
        padding-bottom: 23px;
        .form-group {
            label {
                color: #FFF;
                @include fontSizeLineHeightEm(16,17,11);
            }
            input {
                margin-right: 15px;
                margin-left: 15px;
            }
        }
        @media (max-width: 768px) {
            .form-group {
                input {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }
}
.services {
    margin: 100px 0;
    h2 {
        color: #28628a;
        font-family: MontserratBold,sans-serif;
        @include fontSizeLineHeightEm(16,17,11);
    }
    p {
        color: #28628a;
        @include fontSizeLineHeightEm(14,24,11);
    }
    .col-md-4 {
        padding-top: 50px;
    }
}
.footer {}
/** FORM PAGE **/
.hr-line-dashed {
    height: 1px;
    margin: 20px 0;
    color: #ffffff;
    border-top: 1px dashed #e7eaec;
    background-color: #ffffff;
}
.form {
    .container {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: left;
        border: 2px solid #e2e9ed;
        h2 {
            margin-bottom: 60px;
            text-align: center;
            text-transform: capitalize;
            color: #28628a;
        }
        p {
            color: #28628a;
        }
        .form-group {
            margin-top: 30px;
            label {
                color: #28628a;
            }
            @media (max-width: 768px) {
                label {
                    padding-top: 7px;
                    padding-bottom: 2px;
                }
            }
        }
        fieldset {
            margin-top: 25px;
            legend {
                margin-bottom: 0;
                color: #becad0;
                font-size: 15px;
            }
        }
        .text-field {
            label {
                padding-bottom: 7px;
                text-align: left;
                color: #28628a;
            }
        }
    }
}
.sidebar {
    position: fixed;
    z-index: 1000;
    top: 80px;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    color: #FFF;
    border-right: 1px solid #5187b5;
    background: #5187b5; // Default
    background: linear-gradient(#5187b5, #57a68e);
    .nav-sidebar {
        margin-right: -15px;
        margin-left: -15px;
        li {
            border-bottom: 1px solid #5289b3;
            background-color: #3c759f;
            a {
                padding: 20px 15px;
                color: #FFF;
            }
        }
    }
}
.main {
    margin-top: 80px;
    padding: 20px;
    fieldset {
        margin-top: 25px;
        legend {
            color: #becad0;
            font-size: 15px;
        }
    }
    .text-field {
        label {
            padding-bottom: 7px;
            text-align: left;
            color: #28628a;
        }
    }
}

.dashboard {
  padding: 25px 0;

  p {
    font-size: 20px;
    margin: 20px 30px 35px;
  }
  .header {
      margin-left: 25px;
      vertical-align: middle;
      font-size: x-large;
      color: #28628a;
  }

  ul {
    margin-top: 25px;
    list-style:none;
    font-size: 16px;
    color: #28628a;

    li {
      margin-top: 10px;
    }

    li::before {
      content: "- ";
      color: #4acdca;
    }


  }
}
