@font-face {
  font-family: 'MontserratRegular';
  src: url("../fonts/montserrat/Montserrat-Regular.otf"), url("../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/../fonts/montserrat/Montserrat-Bold.otf"), url("../fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
.navbar-default {
  border: none;
  background-color: #1f4e77;
}
.navbar-default .navbar-collapse {
  border-color: #2698CE;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-toggle {
  margin-top: 23px;
}

.btn-primary {
  background-color: #3a547d;
  border: none;
}

.btn-default {
  color: #FFF;
  background-color: #4acdca;
  border: none;
}

.form-control {
  background-color: #f2f6f8;
  border: 1px solid #d1dde3;
  color: #28628a;
}

.form-group {
  color: #28628a;
}

.table > thead > tr.active > td {
  background-color: #f2f6f8;
}

body {
  font-family: MontserratRegular, sans-serif;
}

header {
  background-color: #1f4e77;
}
header .navbar {
  min-height: 80px;
  margin-bottom: 0;
}
header .navbar-brand {
  padding: 40px 15px;
}
header .navbar-brand img {
  position: absolute;
  top: 17px;
}
header .navbar-header {
  position: relative;
  text-indent: -999999px;
}
@media (min-width: 768px) {
  header .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.container {
  text-align: center;
}

.jumbotron {
  height: 940px;
  margin: 0;
  background: url("../images/background-video.jpg") center center fixed no-repeat;
  background-size: cover;
}
.jumbotron h1 {
  letter-spacing: 1px;
  color: #FFF;
  font-family: MontserratRegular,sans-serif;
  font-size: 2.18182em;
  line-height: 1.08333em;
}

.search {
  min-height: 80px;
  background-color: #1f4e77;
}
.search .container {
  padding-top: 23px;
  padding-bottom: 23px;
}
.search .container .form-group label {
  color: #FFF;
  font-size: 1.45455em;
  line-height: 1.0625em;
}
.search .container .form-group input {
  margin-right: 15px;
  margin-left: 15px;
}
@media (max-width: 768px) {
  .search .container .form-group input {
    margin-right: 0;
    margin-left: 0;
  }
}

.services {
  margin: 100px 0;
}
.services h2 {
  color: #28628a;
  font-family: MontserratBold,sans-serif;
  font-size: 1.45455em;
  line-height: 1.0625em;
}
.services p {
  color: #28628a;
  font-size: 1.27273em;
  line-height: 1.71429em;
}
.services .col-md-4 {
  padding-top: 50px;
}

/** FORM PAGE **/
.hr-line-dashed {
  height: 1px;
  margin: 20px 0;
  color: #ffffff;
  border-top: 1px dashed #e7eaec;
  background-color: #ffffff;
}

.form .container {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  border: 2px solid #e2e9ed;
}
.form .container h2 {
  margin-bottom: 60px;
  text-align: center;
  text-transform: capitalize;
  color: #28628a;
}
.form .container p {
  color: #28628a;
}
.form .container .form-group {
  margin-top: 30px;
}
.form .container .form-group label {
  color: #28628a;
}
@media (max-width: 768px) {
  .form .container .form-group label {
    padding-top: 7px;
    padding-bottom: 2px;
  }
}
.form .container fieldset {
  margin-top: 25px;
}
.form .container fieldset legend {
  margin-bottom: 0;
  color: #becad0;
  font-size: 15px;
}
.form .container .text-field label {
  padding-bottom: 7px;
  text-align: left;
  color: #28628a;
}

.sidebar {
  position: fixed;
  z-index: 1000;
  top: 80px;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  color: #FFF;
  border-right: 1px solid #5187b5;
  background: #5187b5;
  background: linear-gradient(#5187b5, #57a68e);
}
.sidebar .nav-sidebar {
  margin-right: -15px;
  margin-left: -15px;
}
.sidebar .nav-sidebar li {
  border-bottom: 1px solid #5289b3;
  background-color: #3c759f;
}
.sidebar .nav-sidebar li a {
  padding: 20px 15px;
  color: #FFF;
}

.main {
  margin-top: 80px;
  padding: 20px;
}
.main fieldset {
  margin-top: 25px;
}
.main fieldset legend {
  color: #becad0;
  font-size: 15px;
}
.main .text-field label {
  padding-bottom: 7px;
  text-align: left;
  color: #28628a;
}

.dashboard {
  padding: 25px 0;
}
.dashboard p {
  font-size: 20px;
  margin: 20px 30px 35px;
}
.dashboard .header {
  margin-left: 25px;
  vertical-align: middle;
  font-size: x-large;
  color: #28628a;
}
.dashboard ul {
  margin-top: 25px;
  list-style: none;
  font-size: 16px;
  color: #28628a;
}
.dashboard ul li {
  margin-top: 10px;
}
.dashboard ul li::before {
  content: "- ";
  color: #4acdca;
}

/*# sourceMappingURL=style.css.map */
